# Remove output and temp folders
out/*
tmp/*
logo/*
html/*

# Remove files with key info
.env

# Don't Include BTB scripts
btb*

##Ignore Mac Finder stuff
.DS_Store
**/.DS_Store
._.DS_Store
**/._.DS_Store


# Remove config files
__pycache__/*
**.pyc

fbTest.py
output.txt

csv/fbPlaychartPBP/20*

lib/fbPlaychartColorsOppo.txt
syncScript.sh